/* Form Container */
.form-container {
    padding: 30px;
    border-radius: 8px;
    background-color: #e8d8c3;
   
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .form-subtitle {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form {
    width: 100%;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    background-color: #e8d8c3;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #4e3b31;
    outline: none;
    font-size: 14px;
  }
  
  .form-button {
    width: 100%;
    padding: 10px;
    background-color: #4e3b31;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.3s;
  }
  
  .form-button:hover {
    background-color: #9e7c66;
  }
  
  .google-button {
    width: 100%;
    padding: 10px;
    background-color:#e8d8c3;
    font-size: 16px;
    color: black;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .google-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .login-text {
    font-size: 14px;
  }
  
  .login-link {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .login-link:hover {
    color: #9e7c66;
  }
  